{% extends 'base.html' %}
<!--  -->

{% block title %} Home {% endblock %}

<!--  -->

{% block content %}
<div class="container py-5">
  <h1 class="fw-bold text-center py-4">Recipes</h1>
  <div class="container">
    {% if recipes %} {% for recipe in recipes %}
    <div class="row g-2">
      <div class="col p-2">
        <div class="card">
          <div class="card-body d-flex gap-5">
            <div>
              <h5 class="card-header fw-bold py-3">{{recipe.title}}</h5>
              <p class="card-tex py-3">{{recipe.description}}</p>
              <a href="{% url 'recipedetail' recipe.id %}" class="btn btn-info"
                >See more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}{% else %}
    <div class="col-12 py-5">
      <p class="py-5 fw-bold">No Recipes Available</p>
      <div class="card">
        <h5 class="py-5 text-center">Be the first to add a Recipe</h5>
        <button class="btn-info">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="{% url 'create-recipe' %}"
            >Create Recipe</a
          >
        </button>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
