{% extends 'base.html' %}

<!-- -->

{% block content %}

<div class="container">
  <h1 class="text-center py-5">{{recipe.title}}</h1>
  <p class="text-justify">{{recipe.description}}</p>
  <div class="row text-center">
    <div class="col">
      <h3><strong>🌟 Ingredients: </strong></h3>
      <p class="text-justify">{{ recipe.ingredients}}</p>
    </div>
    <div class="col">
      <h3><strong>🌟 Instructions:</strong></h3>
      <p class="text-justify">{{recipe.instructions}}</p>
    </div>
  </div>
  <div>
    <h3><strong>🌟 Category: </strong> {{recipe.category}}</h3>
  </div>
</div>

{% endblock %}
