{% extends 'base.html' %}

<!-- -->

{% block content %}

<div class="container">
  <h1 class="text-center py-5">{{recipe.title}}</h1>
  <p class="text-justify">{{recipe.description}}</p>
  <div class="row text-center">
    <div class="col">
      <h3><strong>🌟 Ingredients: </strong></h3>
      <p class="text-justify">{{ recipe.ingredients}}</p>
    </div>
    <div class="col">
      <h3><strong>🌟 Instructions:</strong></h3>
      <p class="text-justify">{{recipe.instructions}}</p>
    </div>
  </div>
  <div>
    <h3><strong>🌟 Category: </strong> {{recipe.category}}</h3>
  </div>
</div>
<div class="container py-5">
  <div class="card p-2 py-3">
    <h4>Add a comment</h4>
    <form method="POST" action="{% url 'addcomment' pk=recipe.id %}">
      {% csrf_token %}
      <div class="form-group">
        <textarea
          class="form-control"
          id="comment-text"
          name="text"
          rows="3"
        ></textarea>
      </div>
      <input type="submit" value="Comment" class="btn btn-info btn-block" />
    </form>
  </div>
  {% if comments %} {% for comment in comments %}
  <div class="card p-2 py-3">
    <p>{{ comment.text }}</p>
    <p>By {{ comment.user.username }} on {{ comment.created_at }}</p>
  </div>
  {% endfor %} {% else %}
  <div class="card col-12 py-5">
    <p>No Comments yet. Be the first one to comment</p>
  </div>
  {% endif %}
</div>

{% endblock %}
